<waitanim></waitanim>

<div class="flex flex-col">
  <div class="flex">
  <div class="flex w-36 h-7 bg-skin rounded-lg ml-auto mt-5">
    <h1 class="text-white font-DidactGothic ml-auto mr-auto">Waiting</h1>
  </div>
  <div class="flex w-36 h-7 bg-skin rounded-lg ml-4 mr-4 mt-5">
    <h1 class="text-white font-DidactGothic ml-auto mr-auto">Customer</h1>
  </div>
  <div class="bg-skin w-16 h-16 rounded-full mb-10 mr-5">
    <img src="../../assets/images/boy.png" class="p-4 ml-auto mr-auto"/>
  </div>
</div>
<div class="flex w-screen h-screen">
  <div class=" w-56 h-44 bg-skin rounded-lg ml-10 flex flex-col">
    <img src="{{'data:image/jpg;base64,' + logo}}" class="w-auto h-24 ml-7 mr-7"/>
    <h1 class="text-white ml-auto mr-auto font-DidactGothic font-bold">Marche Indiene</h1>
    <div class="flex w-auto h-auto" >
      <h1 class="text-white m-2 mt-5 font-DidactGothic text-xs">Opens: 08:00 A.M</h1>
      <h1 class="text-white m-2 mt-5 font-DidactGothic text-xs">Closes: 06:00 P.M</h1>
    </div>
  </div>
  <div class=" w-72 h-28 bg-skin rounded-lg mt-5 ml-20 flex flex-col">
    <h1 class="text-white text-2xl ml-auto mr-auto font-DidactGothic mt-2">Estimated Time</h1>
    <h1 class="text-white text-3xl ml-auto mr-auto font-DidactGothic mt-2">30 Minutes</h1>
  </div>
  <div class=" w-72 h-28 bg-skin rounded-lg mt-5 ml-20 flex flex-col">
    <h1 class="text-white text-2xl ml-auto mr-auto font-DidactGothic mt-2">Queue No</h1>
    <h1 class="text-white text-3xl ml-auto mr-auto font-DidactGothic mt-2">50</h1>
  </div>
  <div class=" w-72 h-28 bg-skindark rounded-lg mt-5 ml-20 flex flex-col">
    <h1 class="text-white text-2xl ml-auto mr-auto font-DidactGothic mt-auto mb-auto">Waiting</h1>
  </div>
</div>
</div>

