<app-customer-header></app-customer-header>
<div class="container-fluid">
  <div
    class="card"
    *ngIf="customerWaiting && this.authService.isCustomerAuthenticated()"
  >
    <div class="card-body">
      <div class="row d-flex align-items-center">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              [src]="DISPLAY_LOGO(customerWaiting.storeLogo)"
              height="100px"
              width="100%"
            />
            <div class="card-body">
              <p class="card-text">
                <label class="text-center d-block">{{
                  customerWaiting.storeName
                }}</label>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <h3>Estimated Time</h3>
              <h5>{{ customerWaiting.estimatedTime }}</h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <h3>Queue Number</h3>
              <h5 class="number-circle">
                {{ customerWaiting.queueNumber }}
              </h5>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <button
                class="btn btn-primary"
                (click)="removeFromWaitingLine(customerWaiting.storeId)"
              >
                Get Removed From Waiting
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 mb-4">
      <div class="col-md-3 offset-md-9 pb-2">
        <input
          type="email"
          class="form-control"
          placeholder="Search Store"
          (input)="onSearch($event)"
        />
      </div>
    </div>
    <ng-container *ngIf="stores && stores.length; else noStore">
      <div class="col-md-3 store-card" *ngFor="let store of stores">
        <div
          class="card mb-4 box-shadow cursor-pointer"
          (click)="showStoreDetails(store)"
        >
          <img
            class="card-img-top store-logo"
            [src]="DISPLAY_LOGO(store.logo)"
            data-holder-rendered="true"
          />
          <div class="card-body">
            <p class="card-text">
              <label class="text-center d-block">{{ store.name }}</label>
            </p>
          </div>
          <div class="card-footer text-muted">
            <div class="d-flex justify-content-between">
              <span class="badge badge-success text-capitalize"
                >Open: {{ store.openingHour }}</span
              >
              <span class="badge badge-danger text-capitalize">
                Close: {{ store.closingHour }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-customer-footer></app-customer-footer>
<ng-template #noStore>
  <div class="col-md-12">
    <div class="alert alert-danger text-center" role="alert">
      No store found!!!
    </div>
  </div>
</ng-template>
<div kendoDialogContainer></div>
