<div class="row">
  <div class="col-md-3 col-xs-12">
    <div class="row">
      <div class="col-xs-12 mt-3">
        <div class="card shadow">
          <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold">Waiting List</h6>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <tr>
                <td>Client 1</td>
                <td class="d-flex justify-content-end">
                  <a
                    href="#"
                    class="btn btn-sm bg-danger btn-danger btn-circle"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Client 1</td>
                <td class="d-flex justify-content-end">
                  <a
                    href="#"
                    class="btn btn-sm bg-danger btn-danger btn-circle"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Client 1</td>
                <td class="d-flex justify-content-end">
                  <a
                    href="#"
                    class="btn btn-sm bg-danger btn-danger btn-circle"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Client 1</td>
                <td class="d-flex justify-content-end">
                  <a
                    href="#"
                    class="btn btn-sm bg-danger btn-danger btn-circle"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Client 1</td>
                <td class="d-flex justify-content-end">
                  <a
                    href="#"
                    class="btn btn-sm bg-danger btn-danger btn-circle"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="row">
      <!-- no of people in queue-->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">
                  Waiting List
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-list-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- No of people inside store -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="
                    text-xs
                    font-weight-bold
                    text-success text-uppercase
                    mb-1
                  "
                >
                  Active User (in Store)
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">56</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-user fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Employee -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="
                    text-xs
                    font-weight-bold
                    text-warning text-uppercase
                    mb-1
                  "
                >
                  No Of Employee
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-id-badge fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Total Visits</h6>
        </div>
        <div class="card-body">
          <highcharts-chart
            class="w-100"
            [Highcharts]="Highcharts"
            [options]="totalVisitsChartOptions"
            style="display: flex"
          ></highcharts-chart>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="card shadow mt-3">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">Total Visits</h6>
        </div>
        <div class="card-body">
          <highcharts-chart
            class="w-100"
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="display: flex"
          >
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
